---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<body>
            <a href="/">Accueil</a>
            <a href="/about/">A propos</a>
            <a href="/blog/">Blog</a>
            <h1>À propos de moi</h1>
            <h2>... et de mon nouveau site Astro !</h2>
          
            <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
          
            <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>
          </body>
	</body>
</html>
