---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx'
const pageTitle = "Page d'accueil";
---
	<BaseLayout pageTitle={pageTitle}>
		<h2>Mon sous-titre de blog génial</h2>
		<Greeting client:load messages={["Salut", "Bonjour", "Comment vas-tu", "Coucou"]} />
	</BaseLayout>
